Repository DeveloperDurp/k3s: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format, validate, plan, k3s, k3s-ansible, k3s-dns

.gitlab-ci.yml:

stages:
  - lint
  - terraform
  - ansible
  - destroy

include:
  - project: 'developerdurp/jobtemplates'
    ref: release/1.0.0
    file: 
      - 'terraform.yml'
      - 'ansible.yml'

format:
  stage: lint
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
  allow_failure: false
  extends: .terraform_fmt
  rules: 
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"   
      changes:
        compare_to: refs/heads/main
        paths:
          - 'terraform/*'       
      when: always
    - when: never

validate:
  stage: lint
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
  allow_failure: false
  extends: .terraform_validate
  rules: 
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"   
      changes:
        compare_to: refs/heads/main
        paths:
          - 'terraform/*'       
      when: always
    - when: never    

plan:
  stage: lint
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
    ARGUMENTS: -var=pm_password=$pm_password -var=pm_api_url=$pm_api_url -var-file=terraform.tfvars
  allow_failure: false
  extends: .terraform_plan
  needs: ["validate","format"]
  rules: 
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"   
      changes:
        compare_to: refs/heads/main
        paths:
          - 'terraform/*'       
      when: always
    - when: never

k3s:
  stage: terraform
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
    ARGUMENTS: -var=pm_password=$pm_password -var=pm_api_url=$pm_api_url -var-file=terraform.tfvars
  allow_failure: false
  extends: .terraform_apply   
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'terraform/*'     
          - 'ansible/*'  
      when: always
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'ansible/dns.yml'
      when: never   
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never              
    - when: never          

k3s-ansible:
  stage: ansible
  variables:
    WORKDIR: $CI_PROJECT_DIR/ansible
    FILE: main.yml
    REQUIREMENTS: requirements.yml
  allow_failure: false
  extends: .ansible_apply
  before_script: 
    - cat $ansible > $WORKDIR/ansible 
  needs: ["k3s"]
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'terraform/*'     
          - 'ansible/*'  
      when: always
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'ansible/dns.yml'
      when: never      
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never       
    - when: never    

k3s-dns:
  stage: ansible
  variables:
    WORKDIR: $CI_PROJECT_DIR/ansible
    FILE: dns.yml
    REQUIREMENTS: requirements.yml
  allow_failure: false
  extends: .ansible_apply
  before_script: 
    - cat $ansible > $WORKDIR/ansible 
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'ansible/dns.yml'
      when: always
    - when: never    

k3s-update:
  stage: ansible
  variables:
    WORKDIR: $CI_PROJECT_DIR/ansible
    FILE: update.yml
    REQUIREMENTS: requirements.yml
  allow_failure: false
  extends: .ansible_apply
  before_script: 
    - cat $ansible > $WORKDIR/ansible   
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always 
    - when: never        

k3s-destroy:
  stage: destroy
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
    ARGUMENTS: -var=pm_password=$pm_password -var=pm_api_url=$pm_api_url -var-file=terraform.tfvars
  allow_failure: false
  extends: .terraform_destroy  
  needs: ["k3s"]
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'terraform/*'     
          - 'ansible/*'  
      when: manual
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'ansible/dns.yml'
      when: never   
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never              
    - when: never

Update terraform/terraform.tfvars
  terraform/terraform.tfvars
Due: format, validate, plan, k3s, k3s-ansible

Update terraform/main.tf
  terraform/main.tf
Due: format, validate, plan, k3s, k3s-ansible

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update ansible/roles/base/tasks/main.yml, ansible/roles/base/tasks/ssh.yml, ansible/roles/update/tasks/main.yml
  ansible/roles/base/tasks/main.yml
  ansible/roles/base/tasks/ssh.yml
  ansible/roles/update/tasks/main.yml
Due: none

Update .gitlab-ci.yml, ansible/group_vars/all.yml
  .gitlab-ci.yml
  ansible/group_vars/all.yml
Due: none

Update ansible/roles/base/tasks/main.yml, ansible/roles/k3s/argocd/tasks/main.yml
  ansible/roles/base/tasks/main.yml
  ansible/roles/k3s/argocd/tasks/main.yml
Due: none

Update ansible/roles/k3s/master/tasks/main.yml
  ansible/roles/k3s/master/tasks/main.yml
Due: none

revert from lint
  ansible/group_vars/all.yml
  ansible/main.yml
  ansible/roles/base/tasks/main.yml
  ansible/roles/base/tasks/ssh.yml
  ansible/roles/base/vars/main.yml
  ansible/roles/cloudflare/tasks/main.yml
  ansible/roles/k3s/argocd/tasks/main.yml
  ansible/roles/k3s/download/tasks/main.yml
  ansible/roles/k3s/master/tasks/main.yml
  ansible/roles/k3s/node/tasks/main.yml
  ansible/roles/k3s/post/tasks/main.yml
  ansible/roles/k3s/prereq/tasks/main.yml
  ansible/roles/update/tasks/main.yml
  ansible/update.yml
Due: k3s, k3s-ansible

Update terraform/terraform.tfvars, terraform/main.tf
  terraform/main.tf
  terraform/terraform.tfvars
Due: format, validate, plan, k3s, k3s-ansible

Update terraform/variables.tf
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible

Update ansible/hosts.ini
  ansible/hosts.ini
Due: k3s, k3s-ansible

Update ansible/dns.yml
  ansible/dns.yml
Due: k3s, k3s-ansible, k3s-dns

remove nodes
  ansible/hosts.ini
  terraform/terraform.tfvars
Due: format, validate, plan, k3s, k3s-ansible

Update terraform/main.tf, terraform/terraform.tfvars, terraform/variables.tf
  terraform/main.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible

Update terraform/terraform.tfvars, ansible/hosts.ini
  ansible/hosts.ini
  terraform/terraform.tfvars
Due: format, validate, plan, k3s, k3s-ansible

Update terraform/variables.tf, terraform/main.tf
  terraform/main.tf
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible

Update terraform/terraform.tfvars, terraform/main.tf, terraform/variables.tf, ansible/hosts.ini
  ansible/hosts.ini
  terraform/main.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible

Update ansible/roles/base/tasks/ssh.yml
  ansible/roles/base/tasks/ssh.yml
Due: none

Update ansible/roles/base/files/authorized_keys_user, ansible/roles/base/files/sshd_config_secured_redhat
  ansible/roles/base/files/authorized_keys_user
  ansible/roles/base/files/sshd_config_secured_redhat
Due: none

Update ansible/roles/base/files/sshd_config_secured_redhat, ansible/roles/base/vars/main.yml, ansible/roles/base/tasks/main.yml
  ansible/roles/base/files/sshd_config_secured_redhat
  ansible/roles/base/tasks/main.yml
  ansible/roles/base/vars/main.yml
Due: none

Update ansible/roles/base/vars/main.yml
  ansible/roles/base/vars/main.yml
Due: none

update template
  vm_templates/cloudinit.sh
Due: none

increase ram and cpu
  terraform/terraform.tfvars
Due: format, validate, plan, k3s, k3s-ansible

update argocd
  ansible/roles/k3s/argocd/templates/argocd.yaml
Due: none

move deployment to github
  ansible/roles/k3s/argocd/tasks/main.yml
  ansible/roles/k3s/argocd/templates/apps.yaml
  ansible/roles/k3s/argocd/templates/argocd.yaml
Due: none

add keys
  ansible/roles/base/files/authorized_keys_user
Due: none

Update 2 files
  terraform/main.tf
  terraform/terraform.tfvars
Due: format, validate, plan, k3s, k3s-ansible

Update file hosts.ini
  ansible/hosts.ini
Due: k3s, k3s-ansible

Update file variables.tf
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible

Update 3 files
  .gitlab-ci.yml
  ansible/roles/k3s/argocd/tasks/main.yml
  vm_templates/cloudinit.sh
Due: none

Update file defaults.tf
  terraform/defaults.tf
Due: format, validate, plan, k3s, k3s-ansible
