Repository DeveloperDurp/k3s: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plan, k3s, k3s-ansible, k3s-dns

plan:
  stage: lint
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
    ARGUMENTS: -var=pm_password=$pm_password -var=pm_api_url=$pm_api_url -var-file=terraform.tfvars
  allow_failure: false

k3s:
  stage: build
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
    ARGUMENTS: -var=pm_password=$pm_password -var=pm_api_url=$pm_api_url -var-file=terraform.tfvars
  allow_failure: false

k3s-ansible:
  stage: build
  variables:
    WORKDIR: $CI_PROJECT_DIR/ansible
    FILE: main.yml
    REQUIREMENTS: requirements.yml
  allow_failure: false
  before_script:
  - cat $ansible > $WORKDIR/ansible
  needs:
  - k3s

k3s-dns:
  stage: build
  variables:
    WORKDIR: $CI_PROJECT_DIR/ansible
    FILE: dns.yml
    REQUIREMENTS: requirements.yml
  allow_failure: false
  before_script:
  - cat $ansible > $WORKDIR/ansible

Update ansible/roles/update/tasks/main.yml
  ansible/roles/update/tasks/main.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml, terraform/defaults.tf, terraform/main.tf, terraform/terraform.tfvars, terraform/variables.tf
  .gitlab-ci.yml
  terraform/defaults.tf
  terraform/main.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: plan, k3s, k3s-ansible

Update terraform/variables.tf
  terraform/variables.tf
Due: plan, k3s, k3s-ansible

Update terraform/main.tf
  terraform/main.tf
Due: plan, k3s, k3s-ansible

Update terraform/variables.tf, terraform/main.tf
  terraform/main.tf
  terraform/variables.tf
Due: plan, k3s, k3s-ansible

Update .gitlab-ci.yml, terraform/variables.tf
  .gitlab-ci.yml
  terraform/variables.tf
Due: plan, k3s, k3s-ansible

Update terraform/terraform.tfvars
  terraform/terraform.tfvars
Due: plan, k3s, k3s-ansible

Update ansible/dns.yml
  ansible/dns.yml
Due: k3s, k3s-ansible, k3s-dns

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update terraform/main.tf, ansible/hosts.ini
  ansible/hosts.ini
  terraform/main.tf
Due: plan, k3s, k3s-ansible

Update ansible/group_vars/all.yml
  ansible/group_vars/all.yml
Due: none

Update terraform/main.tf, .gitlab-ci.yml
  .gitlab-ci.yml
  terraform/main.tf
Due: plan, k3s, k3s-ansible

update lints
  ansible/dns.yml
  ansible/group_vars/all.yml
  ansible/main.yml
  ansible/roles/base/tasks/main.yml
  ansible/roles/base/tasks/ssh.yml
  ansible/roles/base/vars/main.yml
  ansible/roles/cloudflare/tasks/main.yml
  ansible/roles/k3s/argocd/tasks/main.yml
  ansible/roles/k3s/download/tasks/main.yml
  ansible/roles/k3s/master/tasks/main.yml
  ansible/roles/k3s/node/tasks/main.yml
  ansible/roles/k3s/post/tasks/main.yml
  ansible/roles/k3s/prereq/tasks/main.yml
  ansible/roles/update/tasks/main.yml
  ansible/update.yml
Due: k3s, k3s-ansible, k3s-dns

Update ansible/roles/cloudflare/tasks/main.yml
  ansible/roles/cloudflare/tasks/main.yml
Due: none

Path conditions:
  plan: any of: terraform/*
  k3s: any of: terraform/*, ansible/*
  k3s-ansible: any of: terraform/*, ansible/*
  k3s-dns: any of: ansible/dns.yml
