Repository DeveloperDurp/k3s: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format, validate, plan, k3s, k3s-ansible, k3s-dns

.gitlab-ci.yml:

stages:
  - lint
  - terraform
  - ansible
  - destroy

include:
  - project: 'developerdurp/jobtemplates'
    ref: release/1.0.0
    file: 
      - 'terraform.yml'
      - 'ansible.yml'

format:
  stage: lint
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
  allow_failure: false
  extends: .terraform_fmt
  rules: 
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"   
      changes:
        compare_to: refs/heads/main
        paths:
          - 'terraform/*'       
      when: always
    - when: never

validate:
  stage: lint
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
  allow_failure: false
  extends: .terraform_validate
  rules: 
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"   
      changes:
        compare_to: refs/heads/main
        paths:
          - 'terraform/*'       
      when: always
    - when: never    

plan:
  stage: lint
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
    ARGUMENTS: -var=pm_password=$pm_password -var=pm_api_url=$pm_api_url -var-file=terraform.tfvars
  allow_failure: false
  extends: .terraform_plan
  needs: ["validate","format"]
  rules: 
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"   
      changes:
        compare_to: refs/heads/main
        paths:
          - 'terraform/*'       
      when: always
    - when: never

k3s:
  stage: terraform
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
    ARGUMENTS: -var=pm_password=$pm_password -var=pm_api_url=$pm_api_url -var-file=terraform.tfvars
  allow_failure: false
  extends: .terraform_apply   
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'terraform/*'     
          - 'ansible/*'  
      when: always
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'ansible/dns.yml'
      when: never   
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never              
    - when: never          

k3s-ansible:
  stage: ansible
  variables:
    WORKDIR: $CI_PROJECT_DIR/ansible
    FILE: main.yml
    REQUIREMENTS: requirements.yml
  allow_failure: false
  extends: .ansible_apply
  before_script: 
    - cat $ansible > $WORKDIR/ansible 
  needs: ["k3s"]
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'terraform/*'     
          - 'ansible/*'  
      when: always
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'ansible/dns.yml'
      when: never      
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never       
    - when: never    

k3s-dns:
  stage: ansible
  variables:
    WORKDIR: $CI_PROJECT_DIR/ansible
    FILE: dns.yml
    REQUIREMENTS: requirements.yml
  allow_failure: false
  extends: .ansible_apply
  before_script: 
    - cat $ansible > $WORKDIR/ansible 
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'ansible/dns.yml'
      when: always
    - when: never    

k3s-update:
  stage: ansible
  variables:
    WORKDIR: $CI_PROJECT_DIR/ansible
    FILE: update.yml
    REQUIREMENTS: requirements.yml
  allow_failure: false
  extends: .ansible_apply
  before_script: 
    - cat $ansible > $WORKDIR/ansible   
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always 
    - when: never        

k3s-destroy:
  stage: destroy
  variables:
    WORKDIR: $CI_PROJECT_DIR/terraform
    ARGUMENTS: -var=pm_password=$pm_password -var=pm_api_url=$pm_api_url -var-file=terraform.tfvars
  allow_failure: false
  extends: .terraform_destroy  
  needs: ["k3s"]
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'terraform/*'     
          - 'ansible/*'  
      when: manual
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        paths:
          - 'ansible/dns.yml'
      when: never   
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never              
    - when: never

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update file main.tf
  terraform/main.tf
Due: format, validate, plan, k3s, k3s-ansible

Update file main.yml
  ansible/roles/k3s/argocd/tasks/main.yml
Due: none

Update 2 files
  .gitlab-ci.yml
  ansible/roles/k3s/argocd/tasks/main.yml
Due: none

Update file testfile.txt
  ansible/roles/k3s/argocd/templates/testfile.txt
Due: none

Update file cloudinit.sh
  vm_templates/cloudinit.sh
Due: none

Update 3 files
  terraform/defaults.tf
  terraform/main.tf
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible

Update file variables.tf
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible

Update 3 files
  ansible/hosts.ini
  terraform/main.tf
  terraform/terraform.tfvars
Due: format, validate, plan, k3s, k3s-ansible

Update file terraform.tfvars
  terraform/terraform.tfvars
Due: format, validate, plan, k3s, k3s-ansible

update
  terraform/main.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible

update
  .gitlab/.gitlab-ci.yml
Due: none

update
  terraform/terraform.tfvars
Due: format, validate, plan, k3s, k3s-ansible

update
  terraform/defaults.tf
Due: format, validate, plan, k3s, k3s-ansible

update
  ansible/ansible.cfg
  ansible/dns.yml
  ansible/group_vars/all.yml
  ansible/hosts.ini
  ansible/main.yml
  ansible/roles/base/tasks/main.yml
  ansible/roles/base/tasks/ssh.yml
  ansible/roles/k3s/master/tasks/main.yml
  argocd/commands.sh
  argocd/secret.yaml
  argocd/serviceaccount.yaml
Due: k3s, k3s-ansible, k3s-dns

test env variables
  terraform/main.tf
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible

update
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible

update
  terraform/main.tf
Due: format, validate, plan, k3s, k3s-ansible

update
  .gitignore
  terraform/main.tf
Due: format, validate, plan, k3s, k3s-ansible

update
  terraform/defaults.tf
  terraform/main.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible

update
  terraform/main.tf
  terraform/variables.tf
Due: format, validate, plan, k3s, k3s-ansible
